.home {
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
}

.home h1 {
  margin: 0;
}

.left-part {
  opacity: 0;
  font-size: 2em;
  animation: slideInFromLeft 1s ease-out forwards;
}

.right-part {
  opacity: 0;
  font-size: 1em;
  text-align: right;
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}